$placements: (
  "flex-start",
  "flex-end",
  "center",
  "space-between",
  "space-around"
);
$flex-directions: ("column", "row");

.flex {
  display: flex;
}

@each $direction in $flex-directions {
  .flex-dir-#{$direction} {
    flex-direction: #{$direction};
  }
}

@each $placement in $placements {
  .justify-#{$placement} {
    justify-content: #{$placement};
  }

  .items-#{$placement} {
    align-items: #{$placement};
  }
}
