@use "../abstracts" as *;

.btn {
  --bg-color: var(--clr-gray-150);

  display: inline-block;
  padding: 1em 2em;
  background: var(--bg-color);
  color: var(--clr-gray-500);
  font-size: var(--fs-md);
  border: none;
  border-radius: 9999rem;
  font-weight: var(--fw-bold);
  cursor: pointer;

  &.is-primary {
    --bg-color: var(--clr-primary-400);
    color: var(--clr-white);
  }

  &.has-icon {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &.is-collapsing .is-collapsible {
    display: none;
    padding: 0;
  }

  &.is-primary:hover,
  &.is-primary:focus {
    --bg-color: var(--clr-primary-700);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 8rem 2rem var(--bg-color);
    transform: scale(1.02);
  }

  &:not(:disabled):active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: scale(0.97);
  }

  &:disabled,
  &.is-disabled {
    color: var(--clr-white);
    --bg-color: var(--clr-gray-500);
    opacity: 0.75;
  }

  @include media(32rem) {
    &.is-collapsing .is-collapsible {
      display: block;
      padding: 0 1.25em 0 0.75em;
    }
  }
}
