@use "./box";

.modal {
	@extend .box;
	
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 135rem);
	width: 90%;
	box-shadow: 0 0 0 9999rem rgba(0, 0, 0, 0.6);
	z-index: 999;
	
	&[data-active] {
		display: block;
	}
	
	&-header {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	
	&-close {
		background: none;
		border: none;
	}
}