@use "./box";

.modal {
	@extend .box;
	
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
	width: 90%;
	max-width: 480rem;
	max-height: 72vh;
	overflow-y: auto;
	transform: translate(-50%, 135rem);
	box-shadow: 0 0 0 9999rem rgba(0, 0, 0, 0.6);
	z-index: 999;
	
	&-header {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	
	&-close {
		background: none;
		border: none;
	}
	
	&[data-active] {
		display: block;
	}
}