.pledge-card {
	--flow-spacer: 30rem;
	padding: 32rem 26rem;
	border: 2px solid var(--clr-gray-200);
	border-radius: 0.5em;
	
	&-heading span {
		display: block;
		font-size: var(--fs-md);
	}
	
	&-heading span:nth-child(2) {
		margin-top: 8rem;
		color: var(--clr-primary-400);
		font-weight: var(--fw-medium);
	}
	
	&-stat span:first-child {
		font-size: var(--fs-xxl);
	}
	
	&-stat span:nth-child(2) {
		display: inline-block;
		font-size: var(--fs-md);
		color: var(--clr-gray-500);
		font-weight: var(--fw-regular);
		transform: translateY(-10rem);
	}
	
	&-footer {
		display: none;
	}
	
	&-footer-msg {
		text-align: center;
	}
	
	&-confirm {
		display: flex;
	}
	
	&.is-disabled {
		opacity: 0.5;
	}
	
	/* styles for selectable pledge cards (that contain radios) */
	&.is-selection &-stat span:first-child {
		font-size: var(--fs-lg);
	}
	
	&.is-selection &-stat span:nth-child(2) {
		transform: translateY(-2rem);
	}
	
	&[data-selected] {
		border: 3px solid var(--clr-primary-400);
	}
	
	&[data-selected] &-footer {
		display: block;
	}
}