$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;

// $colors: (
// 	primary-400: hsl(176, 50%, 47%),
// 	primary-700: hsl(176, 72%, 28%),
// 	black: hsl(0, 0%, 0%),
// 	gray-700: hsl(0, 0%, 48%)
// );

$font-family: 'Commissioner, Sans-Serif';
$font-size: 16rem;
